# nbsphinx
*.pyc
*.egg-info
*.ipynb_checkpoints

# Sphinx documentation
_build
*build/
_readthedocs_build
autoapi
_build_rtd
docs/source/modules.rst
docs/source/setup.rst

# MacOS
*.DS_Store

# Misc.
.idea/
.tox
.cache
.python-version
dist
tags
