/* general ---------------------------------------------------------*/

html {
    font-family: Helvetica, sans-serif;
}

h1, h2, h3, p {
    font-family: Helvetica, sans-serif;
}

a:link {
    color: rgb(20, 164, 95);
}

a:visited {
    color: rgb(20, 164, 95);
}

a:hover {
    color: rgb(15, 113, 66);
}

/* inline code */
.pre {
    color: rgb(58, 78, 63);
}

/* code blocks */
.highlight .kn {
    color: rgb(58, 78, 63);
}

.highlight .k {
    color: rgb(58, 78, 63);
}

.highlight .kc {
    color: rgb(20, 164, 95);
}

.highlight .nn {
    color: rgb(20, 164, 95);
}

.highlight .pb {
    color: rgb(20, 164, 95);
}

.highlight .s2 {
    color: #54B5DA;
}

dt.sig.sig-object.py {
    color: purple;
    border: none;
}

/* sidebar -------------------------------------------------------- */

.rst-current-version {
    background-color: white;
}

.wy-side-nav-search {
    background-color: white;
    border-right: 1px;
    border-color: black;
}

.wy-side-scroll {
    background-color: white;
}

/* search box */

/* .wy-form {
    font-family: Helvetica, sans-serif;
    background-color: purple;
    border-color: lightgray;

} */

/* #rtd-search-form .wy-form input[name="q"] { */
form input {
    font-family: Helvetica, sans-serif;
    border-color: gray;
    box-shadow: none;
    border-radius: 0px;
    padding: 10px;
}

/* input[name="q"] {
    font-family: Helvetica, sans-serif;
    border-color: lightgray;
    box-shadow: none;
  } */



/* section headings */
.caption {
    font-family: Helvetica, sans-serif;
    letter-spacing: 5px;
    color: #54B5DA;
    font-size: 50px;
}