coverage[toml]>=7.10.6
ipywidgets>=8.0.0
licensepy>=1.1.2
mypy>=1.7.0
nbmake>=1.3.0
nbsphinx>=0.9.0
numpy>=1.21.0
pandoc>=2.3
pydantic>=1.10.7
pytest>=6.2.5
pytest-randomly>=3.10.1
pytest-socket>=0.7.0
pytest-xdist>=3.4.0
ruff>=0.13.0
setuptools>=67.0.0
sphinx-autoapi>=3.2.1
sphinx-rtd-theme>=1.0.0
