cirq>=1.0.0
cirq-superstaq~=0.3.23
general-superstaq~=0.3.23
ipython
ipywidgets
Jinja2<=3.1.2
nbsphinx~=0.8.9
qiskit-superstaq~=0.3.23
scipy>=1.6.1
sphinx~=5.3.0
sphinx-rtd-theme~=1.0.0
supermarq~=0.3.21
