# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: applications-superstaq

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  format:
    name: Format check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .
          if [ -f dev-requirements.txt ]; then pip install -r dev-requirements.txt; fi
      - name: Format
        run: |
          check/format_.py

  lint:
    name: Lint check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .
          if [ -f dev-requirements.txt ]; then pip install -r dev-requirements.txt; fi
      - name: Pylint
        run: |
          check/pylint_.py

  flake8:
    name: Flake8 check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .
          if [ -f dev-requirements.txt ]; then pip install -r dev-requirements.txt; fi
      - name: Flake8
        run: |
          check/flake8_.py

  mypy:
    name: Type check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .
          if [ -f dev-requirements.txt ]; then pip install -r dev-requirements.txt; fi
      - name: Type check
        run: |
          check/mypy_.py

  pytest:
    name: Pytest Ubuntu
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .
          if [ -f dev-requirements.txt ]; then pip install -r dev-requirements.txt; fi
      - name: Pytest check
        run: |
          check/pytest_.py

  pytest-mac:
    name: Pytest macOS
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .
          if [ -f dev-requirements.txt ]; then pip install -r dev-requirements.txt; fi
      - name: Pytest-mac check
        run: |
          check/pytest_.py

  pytest-win:
    name: Pytest Windows
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .
          if (Test-Path "dev-requirements.txt") {pip install -r dev-requirements.txt}
      - name: Pytest-win check
        run: |
          check/pytest_.py
        shell: bash

  coverage:
    name: Coverage check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.8
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .
          if [ -f dev-requirements.txt ]; then pip install -r dev-requirements.txt; fi
      - name: Coverage check
        run: |
          check/coverage_.py
