# Temporary workflow to publish a release to GitHub
name: Publish release to GitHub
on:
  workflow_dispatch: null
  workflow_call: null
jobs:
  release:
    name: Publish release on GitHub
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6 # allows workflow to access repo
      - name: Set date for release title
        run: echo today=$(date +"%B %d, %Y") >> $GITHUB_ENV # format date and append to env
      - name: Set version number to most recent change
        run: echo version=$(grep -oP '^[[:space:]]*__version__[[:space:]]*=[[:space:]]*["'\'']\K[0-9]+(?:\.[0-9]+)*' general-superstaq/general_superstaq/_version.py) >> $GITHUB_ENV
      - name: Create and publish release
        uses: ncipollo/release-action@v1
        with:
          tag: v${{ env.version }}
          commit: ${{ github.sha }}
          name: v${{ env.version }} ${{ env.today }} Release
          generateReleaseNotes: true
          makeLatest: true
